*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
local.properties
client_secret_31197033030-hlho29vafgrek7sauoda44kvo1me77tl.apps.googleusercontent.com.json
config.properties
# Sensitive Docs
Docs/
